{% extends 'website/base.html' %}
{% load static %}
{% block title %}
Happynance | Home
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% block content %}
<!-- Hero -->
<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="hero-text">
                    <h1>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </h1>
                </div>
            </div>
            <div class="col-md-5">
                
            </div>
        </div>
    </div>
</section>
{% endblock %}
