.title{
    font-weight: 200;
    text-align: center;
    margin: 10px;
}
.text-muted{
    text-align: center;
}

.btn-primary{
    background-color: #171d2b !important;
    border-color: #171d2b !important;
}

